/* This rule will allow the "arch" user on the LiveCD to skip the PolicyKit
 * authentication dialog because that user has no password to authenticate with.
 *
 * PolicyKit will log every action in case this file ever makes it to an
 * installation (hopefully that will never happen).
 */

polkit.addRule(function(action, subject) {
  if (subject.user == "arch") {
    polkit.log("Automatically allowed action (LiveCD rule):");
    polkit.log(" -> Action: " + action);
    polkit.log(" -> Subject: " + subject);
    return polkit.Result.YES;
  }
});
